/* --- colors --- */

:root {
    /* --- primary --- */

    --light-cyan : hsl(193, 38%, 86%);
    --neon-green  : hsl(150, 100%, 66%);

    /* --- neutral --- */

    --grayish-blue : hsl(217, 19%, 38%);
    --dark-grayish-blue : hsl(217, 19%, 24%);
    --dark-blue : hsl(218, 23%, 16%);
}

/* --- Typography --- */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* --- Base --- */

body {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- container --- */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-grayish-blue);
    border-radius: 10px;
}

.container__title {
    color: var(--neon-green);
    margin-top: 3rem;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.container__advice {
    color: var(--light-cyan);
    margin: 2rem auto;
    width: 80%;
}

.container__divider {
    margin: auto auto 5rem auto;
    width: 80%;
}

.container__dice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.5rem auto;
    background-color: var(--neon-green);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container__dice img {
    margin: auto;
}

/* --- footer --- */

.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 650px) {
    .container {
        margin: auto 1rem;
    }
    
}